
header .container .menu-bars {
    grid-area: bars;
    border: none;
    font-size: 25px;
    background-color: transparent;
  }
  @media (min-width: 990px) {
    header .container .menu-bars {
      display: none;
    }
  }
  header .container .logotype {
    grid-area: logo;
    margin-right: 70px;
  }
  header .container .contact-information {
    grid-area: cib;
    display: none;
    padding-bottom: 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  @media (min-width: 990px) {
    header .container .contact-information {
      display: flex;
    }
  }
  header .container .contact-box {
    padding-right: 30px;
    margin-right: 30px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    border-right: 1px solid #DADAD3;
    font-weight: 500;
  }
  header .container .contact-box i {
    margin-right: 5px;
    font-size: 1.2em;
  }
  header .container .contact-box.last {
    border: none;
  }
  header .container .social-media {
    grid-area: social;
    display: none;
    padding-bottom: 10px;
  }
  @media (min-width: 990px) {
    header .container .social-media {
      display: block;
    }
  }
  header .container .social-media a {
    color: #191919;
    font-size: 1.4rem;
    margin-right: 15px;
    font-size: 15px;
  }
  header .container .social-media a:hover {
    color: #7c7c7c;
  }
  header .container .menu {
    grid-area: menu;
    display: none;
    justify-content: space-between;
    border-top: 1px solid #DADAD3;
    padding-top: 20px;
    margin-top: 10px;
    align-items: center;
  }
  @media (min-width: 990px) {
    header .container .menu {
      display: flex;
    }
  }
  header .container .menu nav a {
    display: inline-block;
    color: #191919;
    text-decoration: none;
    margin-right: 35px;
    position: relative;
    font-size: 13px;
  }
  header .container .menu nav a.active {
    font-weight: 700;
  }
  header .container .menu nav a.active::after, header .container .menu nav a:hover::after {
    content: " ";
    position: absolute;
    font-weight: 600;
    height: 2px;
    width: 15px;
    background-color: #191919;
    left: 50%;
    bottom: -3px;
    transform: translate(calc(50% - 15px));
  }