
.logos-section {
  display: none;
}
@media (min-width: 990px) {
  .logos-section {
    display: flex;
    margin-top: 50px;
    margin-bottom: 80px;
  }
  .logos-section .container {
    display: flex;
    align-items: center;
    gap: 36px;
  }
}