.title {
    width: 1920px;
    height: 300px;
    background-color: #F0EFE9;
    position: relative;
  }
  .title .title-text a {
    color: #191919;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
  }
  .title .title-text a:hover {
    font-weight: 700;
  }
  .title img {
    display: none;
  }
  @media (min-width: 769px) {
    .title img {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }